* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  color: var(--space-cadet);
  scroll-behavior: smooth;
  /* Font Style */
  --brand-type: "Glass Antiqua";
  --link-type: "Krub", sans-serif;
  --body-type: "Lora", serif;
  --sub-heading-type: "Pathway Extreme", sans-serif;
  --heading-type: "Squada One", sans-serif;
  /* Color Pallette */
  --celadon: #baf3daff;
  --apricot: #ffcab1ff;
  --slate-gray: #6f8695ff;
  --space-cadet: #2a2e45ff;
  --redwood: #9f4a54ff;
  --photo-blue: #acdde7;
  --flax: #e9d985;
  --lavender: #e5eafa;
  --bg-col: #f3eff5c7;
  --accent-col: #db7f67;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--link-type);
  font-weight: 500;
  font-size: 1rem;
}

li {
  font-size: 0.85rem;
  font-family: var(--link-type);
}

img {
  max-width: 100%;
}

h1 {
  font-family: var(--heading-type);
}

.main-headline {
  font-family: var(--heading-type);
  font-size: 3rem;
}

.sub-headline {
  font-family: var(--sub-heading-type);
  font-weight: 300;
  font-size: 1.25rem;
}

.button-group {
  gap: 1rem;
}

h2 {
  font-family: var(--sub-heading-type);
  font-weight: 300;
}

h3 {
  font-family: var(--link-type);
  font-size: 1.25rem;
}

p {
  font-family: var(--link-type);
}

main {
  padding: 2rem 0rem;
}

small {
  font-size: 0.65rem;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

input,
select,
textarea {
  padding: 0.35rem 0.5rem;
  border-radius: 10px;
  font-family: var(--link-type);
  border: 1px solid var(--slate-gray);
  font-size: 0.75rem;
  font-weight: 500;
  width: 240px;
  text-wrap: nowrap;
  resize: none;
}

input[name=eventDate],
input[name=eventTime] {
  padding: 0.3rem 0.5rem;
}

textarea {
  text-wrap: wrap;
}

label {
  font-family: var(--link-type);
  font-size: 0.75rem;
  font-family: var(--sub-heading-type);
  font-weight: 400;
}

p.special {
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  background-color: var(--lavender);
  font-weight: 500;
}

p.not-important {
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  background-color: var(--lavender);
  opacity: 0.5;
}

/* Utility Classes */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.done {
  padding: 0.25rem 0.5rem;
  background-color: var(--lavender);
  border-radius: 10px;
  font-weight: 400;
  color: var(--slate-gray);
}

button.button {
  padding: 0.4rem 0.75rem;
  border-radius: 10px;
  font-family: var(--link-type);
  background: var(--bg-col);
  border: 1px solid var(--slate-gray);
  font-size: 0.85rem;
  font-weight: 500;
  width: -moz-min-content;
  width: min-content;
  text-wrap: nowrap;
  cursor: pointer;
}
button.button i {
  margin-left: 0.5rem;
}

button.btn-spec {
  background-image: linear-gradient(90deg, hsl(154, 70%, 84%) 0%, hsl(159, 68%, 83%) 20%, hsl(163, 66%, 82%) 29%, hsl(168, 63%, 81%) 36%, hsl(172, 61%, 80%) 43%, hsl(175, 58%, 80%) 50%, hsl(179, 55%, 79%) 57%, hsl(182, 54%, 79%) 64%, hsl(185, 55%, 79%) 71%, hsl(188, 56%, 79%) 80%, hsl(190, 55%, 79%) 100%);
}

.active-nav {
  border-bottom: 2.5px solid var(--redwood);
  font-weight: 600;
}

div.loading-modal {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}
div.loading-modal div.modal-body {
  position: absolute;
  width: clamp(300px, 20%, 20vw);
  height: clamp(300px, 20%, 20vw);
  background-color: var(--bg-col);
  display: grid;
  place-items: center;
  border-radius: 20px;
}
div.loading-modal div.modal-body img {
  height: 50px;
  width: 50px;
  margin-bottom: -35%;
}

div.delete-confirmation-modal {
  position: absolute;
  display: grid;
  place-content: center;
  height: 85%;
  width: 100%;
  overflow: hidden;
  padding: 2rem;
  z-index: 99999;
  background-color: rgba(243, 239, 245, 0.75);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 10px;
}
div.delete-confirmation-modal div.confirmation-modal-body {
  border-radius: 10px;
  gap: 0.75rem;
}
div.delete-confirmation-modal div.confirmation-modal-body div button {
  margin: 0.5rem;
}
div.delete-confirmation-modal div.confirmation-modal-body div button:nth-child(1) {
  background-color: var(--apricot);
}

.delete-event-btn {
  border: 0.5px solid var(--space-cadet);
  height: -moz-min-content;
  height: min-content;
  cursor: pointer;
}
.delete-event-btn i {
  font-size: 0.85rem;
  color: var(--redwood);
}

@media screen and (max-width: 959px) {
  html {
    font-size: 14px;
  }
}/*# sourceMappingURL=index.css.map */